.loginContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    min-height: 100vh;
    height: 100%;
    color: var(--textColor);
    width: 100%;
    background-color: var(--softBg);
    padding: 20px 10px;
    .formContainer {
      background-color: var(--bg);
      padding: 24px 0px;
      width: 80%;
      max-width: 500px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      border-radius: 10px;
      border: 2px solid crimson;
      z-index: 999;
      .loginTitle {
        font-size: 20px;
        margin: 0;
        letter-spacing: 1px;
        font-weight: 500;
      }
      .inputContainer {
        display: flex;
        flex-direction: column;
        width: 80%;
        label {
          margin-bottom: 10px;
          font-weight: 500;
          color: var(--textColor);
          letter-spacing: 0.5px;
        }
        input {
          border: none;
          height: 40px;
          padding: 0px 10px;
          border-radius: 6px;
          color: var(--textColor);
          background-color: var(--softBg);
          font-weight: 500;
          outline: none;
  
          &:focus {
            border: 2px crimson solid;
          }
  
          &::-webkit-input-placeholder {
            color: var(--softTextColor);
            font-weight: 400;
          }
        }
      }
      .checkbox {
        width: 80%;
        display: flex;
        align-items: center;
        input {
          height: 20px;
          width: 20px;
        }
        label {
          margin-left: 10px;
          font-size: 14px;
        }
      }
      h1 {
        font-size: 36px;
        margin-bottom: 0;
        span {
          color: crimson;
        }
      }
      p {
        font-size: 14px;
        font-weight: 500;
        color: var(--textColor);
        span {
          margin-left: 10px;
          color: crimson;
          font-weight: 600;
          font-size: 18px;
        }
      }
      button {
        height: 40px;
        width: 100px;
        border: none;
        font-size: 16px;
        border-radius: 6px;
        background: crimson;
        color: white;
        font-weight: 400;
        letter-spacing: 0.6px;
      }
    }
  }
  